.section{
    display: flex;
    width: 1240px;
    height: 250px;
}
.section img{
    width: 0px;
    flex-grow: 1;
    /*object-fit: cover; /*que la img ocupe buen espacio*/
    opacity: .8;
    transition: .5 ease;
}
.section img:hover{
    width: 150px;
    height: 50;
    opacity: 1;
    filter: contrast(120%)
}

.navbar {
    position:absolute;
    top: 1px;
    right: 0px;
    left: 0px;
    background: #e4af4d;
    width: 1250px;
    height: 30px;
    padding: 12px;
}
.navbar-brand {
    color: #000000;
    font-size: 1.6rem;
}
.navbar-brand i { font-size: 2rem; }

h2, h3, p{
    font-family: Arial, Helvetica, sans-serif;
    size: 2em;
}


